.img-container {
    width: 100%; //640px;
    height: 480px;
    float: left;
}
.img-preview {
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 10px;
}
.cropper-container .cropper-bg{
    width: 100% !important;
}
.button-cropper{
    margin-left: 10px;
    margin-top: 5px;
}
@media (max-width: 600px) {
    .img-container {
        height: 110px;
    }
  }