<input id="findRecord" type="text" [(ngModel)]="findValue" [placeholder]="placeholder"
    (keyup)="updateSearchUp($event, $event.target.value)" (click)="updateSearchUp($event, $event.target.value)"
    class="form-control" clickOutside (clickOutside)="verifyDropDown()">
<div clickOutside (clickOutside)="toggleDropDown()" *ngIf="showDropDown" class="container-dropdown">
    <div id="list.c" *ngFor="let list of data" (click)="selectValue(list.c, list.n)" class="list-group">
        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{list.n}}</h5>
            </div>
            <p class="mb-1">{{list.e}}</p>
            <small>{{list.t}}</small>
        </a>
    </div>
</div>