<div class="container-fluid" *ngIf="dispLoading">
    <div *appSpinner="dispLoading; message: 'Loading Taxes'">
    </div>
</div>
<app-search placeholder="Search by name" (setValue)="filterList($event)" (setNumber)="onChangeNumber($event)">
</app-search>
<button (click)="setView(true)">List</button><button (click)="setView(false)">Grid</button>
<span>Results: {{totalRows}}</span>
<div class="list-cards" *ngIf="listView" style="height: 600px; overflow-y:scroll;">
    <ul class="list-group list-group-flush" *ngIf="onError==''">
        <li class="list-group-item" *ngFor="let tax of taxes; trackBy: trackById">
            <h2>{{ 'Name: ' + tax.Name }}</h2>
            <p class="mb-1">{{ 'Percentage: ' + tax.Percentage }}</p>
            <p class="mb-1">{{ 'Include Tax: ' + (tax.Include_Tax === 0 ? 'No' : 'Si') }}</p>
            <ul class="items">
                <button (click)="onSelect(tax)" class="btn btn-primary">
                    <span id="{{'spin_sel_'+tax.Tax_Id}}" *ngIf="loading && spinner == 'spin_sel_'+tax.Tax_Id" class="spinner-border spinner-border-sm mr-1"></span>
                    Edit
                </button>
                <button (click)="onDelete(tax)" class="btn btn-danger">
                    <span id="{{'spin_del_'+tax.Tax_Id}}" *ngIf="loading && spinner == 'spin_del_'+tax.Tax_Id" class="spinner-border spinner-border-sm mr-1"></span>
                    Delete
                </button>
            </ul>
        </li>
    </ul>
    <div *ngIf="onError!=''">
        <span>{{onError}}</span>
    </div>
</div>
<div class="grid-cards" *ngIf="!listView" style="height: 600px; overflow-y:scroll;">
    <div class="card-columns" *ngIf="onError==''">
        <div class="card" *ngFor="let tax of taxes; trackBy: trackById">
            <div class="card-body">
                <h2>{{ 'Name: ' + tax.Name }}</h2>
                <p class="mb-1">{{ 'Percentage: ' + tax.Percentage }}</p>
                <p class="mb-1">{{ 'Include Tax: ' + (tax.Include_Tax === 0 ? 'No' : 'Si') }}</p>
                <ul class="items">
                    <button (click)="onSelect(tax)" class="btn btn-primary">
                        <span id="{{'spin_sel_'+tax.Tax_Id}}" *ngIf="loading && spinner == 'spin_sel_'+tax.Tax_Id" class="spinner-border spinner-border-sm mr-1"></span>
                        Edit
                    </button>
                    <button (click)="onDelete(tax)" class="btn btn-danger">
                        <span id="{{'spin_del_'+tax.Tax_Id}}" *ngIf="loading && spinner == 'spin_del_'+tax.Tax_Id" class="spinner-border spinner-border-sm mr-1"></span>
                        Delete
                    </button>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="onError!=''">
        <span>{{onError}}</span>
    </div>
</div>
<app-pagination [setPagination]="{'itemsCount': totalRows,'pageSize': itemsNumber}" (goToPage)="goToPage($event)">
</app-pagination>