<div class="container-fluid h-100">
    <div class="row pl-2 pr-1">
        <div class="pl-15 pt-1 pb-2 col-md-12 mt-1 mb-1 header-route">
            <h4>Query Inventory</h4>
        </div>
        <mat-card class="col-md-11 ml-3">
            <app-search placeholder="Search by name" (setValue)="filterList($event)" [salesView]="checkOut"
                (searchStep)="sendStep($event)">
            </app-search>
            <div class="card-columns mx-auto p-md-0 justify-content-center">
                <ng-container *ngFor="let product of products$ | async; let i=index; trackBy: trackById">
                    <mat-card class="card grid-card mt-1 mb-1 mr-2">
                        <mat-card-header>
                            <mat-card-title>{{ 'Name: ' + product.Name }}</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image *ngIf="product.Img_Path != ''"
                            src="{{ bucketURL + product.Img_Path}}">
                        <mat-card-content>
                            <p>Price: {{currencyCompany + ' ' + (product.Unit_Price | number: '.2') }}</p>
                            <mat-divider></mat-divider>
                            <p class="title-stores">Stores:</p>
                            <ul class="">
                                <li *ngFor="let store of product.Stores">
                                    {{store.StoreName + ' : ' + (store.Qty | number: '.4')}}</li>
                            </ul>
                        </mat-card-content>
                    </mat-card>
                </ng-container>
                <div *ngIf="onError!=''">
                    <span>{{onError}}</span>
                </div>
            </div>
            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="goToPage($event.pageIndex, $event.pageSize)">
            </mat-paginator>
        </mat-card>
    </div>
</div>