<app-search placeholder="Search by name" (setValue)="filterList($event)" (view)="setView($event)" [salesView]="checkOut" (searchStep)="sendStep($event)">
</app-search>
<div class="overlay" *ngIf="loading">
    <mat-progress-spinner id="spinProduct" class="form-spinner" mode="indeterminate"></mat-progress-spinner>
    <mat-label class="label-overlay">Deleting Product...</mat-label>
</div>
<div class="list-cards" *ngIf="listView">
    <mat-list *ngIf="onError==''">
        <ng-container *ngFor="let product of products; let i=index; trackBy: trackById">
            <mat-list-item>
                <div class="pr-0 pl-0">
                    <h3 matLine class="mb-1">{{ 'Name: ' + product.Name }}</h3>
                    <input matInput id="{{'unitPrice'+i}}" *ngIf="view && product.Type === 'services'" (keypress)="onKeyPress($event, $event.target.value)" pattern="^[0-9]{0,8}\.?[0-9]{0,2}$" placeholder="Unit Price" min="0.0001" max="99999999.9990" value="" [errorStateMatcher]="confirmValidParentMatcher" required>
                    <p matLine class="mb-1" *ngIf="!view || (product.Type === 'goods' && view)">Price: {{ currencyCompany + ' ' + (product.Unit_Price | number: '.2') }}</p>
                    <p matLine class="mb-1">Available : {{ product.Qty | number: '.4' }}</p>
                    <input matInput id="{{'qtyValue'+i}}" *ngIf="view" (keypress)="onKeyPress($event, $event.target.value)" pattern="^[0-9]{0,8}\.?[0-9]{0,2}$" placeholder="Qty" min="0.01" max="99999999.90" value="" [errorStateMatcher]="confirmValidParentMatcher" required>
                    <mat-action-list class="" matLine *ngIf="!view">
                        <button mat-icon-button color="primary" (click)="onSelect(product)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="onDelete(product)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-action-list>
                    <mat-action-list class="" matLine *ngIf="view">
                        <button type="button" mat-icon-button color="primary" (click)="onAddItem(product, 'qtyValue'+i, 'unitPrice'+i, i)">
                            <mat-icon>add_shopping_cart</mat-icon>
                        </button>
                    </mat-action-list>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-list>
    <div *ngIf="onError!=''">
        <span>{{onError}}</span>
    </div>
</div>
<div class="card-columns mx-auto p-md-0 justify-content-center col-md-12" *ngIf="!listView">
    <ng-container *ngIf="onError==''">
        <ng-container *ngFor="let product of products; let i=index; trackBy: trackById">
            <mat-card class="card grid-card mt-1 mb-1 mr-2">
                <mat-card-header>
                    <mat-card-title>{{ 'Name: ' + product.Name }}</mat-card-title>
                </mat-card-header>
                <img mat-card-image *ngIf="product.Img_Path != ''" src="{{ bucketURL + product.Img_Path}}">
                <mat-card-content>
                    <input matInput id="{{'unitPrice'+i}}" *ngIf="view && product.Type === 'services'" (keypress)="onKeyPress($event, $event.target.value)" pattern="^[0-9]{0,8}\.?[0-9]{0,2}$" placeholder="Unit Price" min="0.0001" max="99999999.9990" value="" [errorStateMatcher]="confirmValidParentMatcher" required>
                    <p *ngIf="!view || (product.Type === 'goods' && view)">Price: {{currencyCompany + ' ' + (product.Unit_Price | number: '.2') }}</p>
                    <p>Available : {{ product.Qty | number: '.4' }}</p>
                    <input matInput id="{{'qtyValue'+i}}" *ngIf="view" (keypress)="onKeyPress($event, $event.target.value)" pattern="^[0-9]{0,8}\.?[0-9]{0,2}$" placeholder="Qty" min="0.01" max="99999999.90" value="" [errorStateMatcher]="confirmValidParentMatcher" required>
                </mat-card-content>
                <mat-card-actions align="end" *ngIf="!view">
                    <button mat-icon-button color="primary" (click)="onSelect(product)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="onDelete(product)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
                <mat-card-actions align="end" *ngIf="view">
                    <button type="button" mat-icon-button color="primary" (click)="onAddItem(product, 'qtyValue'+i, 'unitPrice'+i, i)">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </ng-container>
    <div *ngIf="onError!=''">
        <span>{{onError}}</span>
    </div>
</div>
<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="goToPage($event.pageIndex, $event.pageSize)">
</mat-paginator>