<div class="container-fluid" *ngIf="dispLoading">
    <div *appSpinner="dispLoading; message: 'Loading Products'">
    </div>
</div>
<app-search placeholder="Search by name" (setValue)="filterList($event)" (view)="setView($event)" [salesView]="checkOut" (searchStep)="sendStep($event)">
</app-search>
<div class="overlay" *ngIf="loading">
    <mat-progress-spinner id="spinProduct" class="form-spinner" mode="indeterminate"></mat-progress-spinner>
    <mat-label class="label-overlay">Deleting Product...</mat-label>
</div>
<div class="list-cards" *ngIf="listView=='list'">
    <mat-list *ngIf="onError==''">
        <ng-container *ngFor="let product of products; trackBy: trackById">
            <mat-list-item>
                <div class="pr-0 pl-0">
                    <h3 matLine class="mb-1">{{ 'Name: ' + product.Name }}</h3>
                    <p matLine class="mb-1">{{ 'Unit Price: ' + product.Unit_Price }}</p>
                    <p matLine class="mb-1">{{ 'Qty : ' + product.Qty }}</p>
                    <mat-action-list class="" matLine *ngIf="!view">
                        <button mat-icon-button color="primary" (click)="onSelect(product)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="onDelete(product)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-action-list>
                    <mat-action-list class="" matLine *ngIf="view">
                        <button type="button" mat-icon-button color="primary" (click)="onSelect(product)">
                            <mat-icon>add_shopping_cart</mat-icon>
                        </button>
                    </mat-action-list>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-list>
    <div *ngIf="onError!=''">
        <span>{{onError}}</span>
    </div>
</div>
<div class="list-cards" *ngIf="listView=='grid'">
    <div class="row" *ngIf="onError==''">
        <ng-container class="col-sm" *ngFor="let product of products; trackBy: trackById">
            <mat-card class="grid-card col-md-3 ml-3 mt-3 mr-3 mb-3">
                <mat-card-header>
                    <mat-card-title>{{ 'Name: ' + product.Name }}</mat-card-title>
                </mat-card-header>
                <img mat-card-image *ngIf="product.Img_Path != ''" src="{{ bucketURL + product.Img_Path}}">
                <mat-card-content>
                    <p>{{ 'Unit Price: ' + product.Unit_Price }}</p>
                    <p>{{ 'Qty : ' + product.Qty }}</p>
                </mat-card-content>
                <mat-card-actions align="end" *ngIf="!view">
                    <button mat-icon-button color="primary" (click)="onSelect(product)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="onDelete(product)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
                <mat-card-actions align="end" *ngIf="view">
                    <button type="button" mat-icon-button color="primary" (click)="onSelect(product)">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </div>
    <div *ngIf="onError!=''">
        <span>{{onError}}</span>
    </div>
</div>
<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="goToPage($event.pageIndex, $event.pageSize)">
</mat-paginator>