<div class="container-fluid" *ngIf="dispLoading">
    <div *appSpinner="dispLoading; message: 'Loading Products'">
    </div>
</div>
<app-search placeholder="Search by name" (setValue)="filterList($event)" (setNumber)="onChangeNumber($event)">
</app-search>
<button (click)="setView(true)">List</button><button (click)="setView(false)">Grid</button>
<span>Results: {{totalRows}}</span>
<div class="list-cards" *ngIf="listView" style="height: 600px; overflow-y:scroll;">
    <ul class="list-group list-group-flush" *ngIf="onError==''">
        <li class="list-group-item" *ngFor="let product of products; trackBy: trackById">
            <h2>{{ 'Name: ' + product.Name }}</h2>
            <p class="mb-1">{{ 'Unit Price: ' + product.Unit_Price }}</p>
            <p class="mb-1">{{ 'Qty : ' + product.Qty }}</p>
            <ul class="items" *ngIf="!view">
                <button (click)="onSelect(product)" class="btn btn-primary">
                    <span id="{{'spin_sel_'+product.Product_Id}}" *ngIf="loading && spinner == 'spin_sel_'+product.Product_Id" class="spinner-border spinner-border-sm mr-1"></span>
                    Edit
                </button>
                <button (click)="onDelete(product)" class="btn btn-danger">
                    <span id="{{'spin_del_'+product.Product_Id}}" *ngIf="loading && spinner == 'spin_del_'+product.Product_Id" class="spinner-border spinner-border-sm mr-1"></span>
                    Delete
                </button>
            </ul>
            <ul class="items" *ngIf="view">
                <button (click)="onSelect(product)" class="btn btn-primary">
                    <span id="{{'spin_sel_'+product.Product_Id}}" *ngIf="loading && spinner == 'spin_sel_'+product.Product_Id" class="spinner-border spinner-border-sm mr-1"></span>
                    Select
                </button>
            </ul>
        </li>
    </ul>
    <div *ngIf="onError!=''">
        <span>{{onError}}</span>
    </div>
</div>
<div class="grid-cards" *ngIf="!listView" style="height: 600px; overflow-y:scroll;">
    <div class="card-columns" *ngIf="onError==''">
        <div class="card" *ngFor="let product of products; trackBy: trackById">
            <img class="card-img-top" *ngIf="product.Img_Path != ''" src="{{ bucketURL + product.Img_Path}}">
            <div class="card-body">
                <h2>{{ 'Name: ' + product.Name }}</h2>
                <p class="mb-1">{{ 'Unit Price: ' + product.Unit_Price }}</p>
                <p class="mb-1">{{ 'Qty : ' + product.Qty }}</p>
                <ul class="items" *ngIf="!view">
                    <button (click)="onSelect(product)" class="btn btn-primary">
                        <span id="{{'spin_sel_'+product.Product_Id}}" *ngIf="loading && spinner == 'spin_sel_'+product.Product_Id" class="spinner-border spinner-border-sm mr-1"></span>
                        Edit
                    </button>
                    <button (click)="onDelete(product)" class="btn btn-danger">
                        <span id="{{'spin_del_'+product.Product_Id}}" *ngIf="loading && spinner == 'spin_del_'+product.Product_Id" class="spinner-border spinner-border-sm mr-1"></span>
                        Delete
                    </button>
                </ul>
                <ul class="items" *ngIf="view">
                    <button (click)="onSelect(product)" class="btn btn-primary">
                        <span id="{{'spin_sel_'+product.Product_Id}}" *ngIf="loading && spinner == 'spin_sel_'+product.Product_Id" class="spinner-border spinner-border-sm mr-1"></span>
                        Select
                    </button>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="onError!=''">
        <span>{{onError}}</span>
    </div>
</div>
<app-pagination [setPagination]="{'itemsCount': totalRows,'pageSize': itemsNumber}" (goToPage)="goToPage($event)">
</app-pagination>
<!-- salesView -->