<div class="pl-0 pt-1 pb-2 col-md-12 mt-1 mb-1 header-route">
    <h4>Taxes</h4>
</div>
<div class="overlay" *ngIf="loading">
    <mat-progress-spinner id="spinTax" class="form-spinner" mode="indeterminate"></mat-progress-spinner>
    <mat-label class="label-overlay">Processing Tax...</mat-label>
</div>
<ng-container *ngIf="(taxSave$ | async) && savingTax"></ng-container>
<mat-card *ngIf="(tax$ | async) || displayForm">
    <form [formGroup]="taxForm" (ngSubmit)="onSubmit()">
        <div class="form-field pl-3 pr-3">
            <mat-form-field hintLabel="Min 3 characters">
                <input matInput #Name placeholder="Name" maxlength="50" formControlName="Name"
                    [errorStateMatcher]="confirmValidParentMatcher" required>
                <mat-hint align="end">{{Name.value?.length || 0}}/50</mat-hint>
                <mat-error *ngIf="Name.invalid && Name.touched">{{getErrorMessage('Name')}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-field pl-3 pr-3">
            <mat-form-field hintLabel="Only decimal values">
                <input matInput placeholder="Percentage" min="0.01" max="99.90" type="number"
                    (keypress)="onKeyPress($event, $event.target.value)" pattern="^[0-9]{0,2}\.?[0-9]{0,2}$"
                    [errorStateMatcher]="confirmValidParentMatcher" formControlName="Percentage"
                    class="values-right-align" required>
                <mat-error *ngIf="Percentage.invalid && Percentage.touched">{{getErrorMessage('Percentage')}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-field-check ml-3 pr-3">
            <mat-checkbox formControlName="Include_Tax">Price Include Taxes</mat-checkbox>
        </div>
        <div class="form-field-check ml-3 pr-3" *ngIf="country=='DEU'">
            <mat-checkbox formControlName="To_Go">To Go</mat-checkbox>
        </div>
        <div class="form-field-check ml-3 pr-3" *ngIf="taxForm.value.TaxId !== '' && taxForm.value.TaxId !== null">
            <mat-checkbox formControlName="Status">Status</mat-checkbox>
        </div>
        <button mat-flat-button color="primary" id="save" [disabled]="!taxForm.valid" class="ml-3 mr-3 mt-2">Save</button>
        <button mat-flat-button color="accent" type="button" id="cancel" (click)="onCancel()" class="mt-2">Cancel</button>
        <!-- {{ taxForm.value | json }} -->
    </form>
</mat-card>