<h1>Taxes</h1>
<form [formGroup]="taxForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="Name" class="form-control" [class.is-invalid]="Name.invalid &&
                                                                                            Name.touched">
        <div *ngIf="Name.invalid && Name.touched">
            <small *ngIf="Name.errors?.required" class="text-danger">Name is required</small>
            <small *ngIf="Name.errors?.minlength" class="text-danger">Minimun length 3</small>
        </div>
    </div>
    <div class="form-group">
        <label>Percentage</label>
        <input type="text" formControlName="Percentage" class="form-control" (keypress)="onKeyPress($event, $event.target.value)" pattern="^[0-9]{0,2}\.?[0-9]{0,2}$" [class.is-invalid]="Percentage.invalid && 
                                                                                                Percentage.touched">
        <div *ngIf="Percentage.invalid && Percentage.touched">
            <small *ngIf="Percentage.errors?.required" class="text-danger">Percentage invalid value</small>
            <small *ngIf="Percentage.errors?.pattern" class="text-danger">Incorrect value</small>
            <small *ngIf="Percentage.errors?.min" class="text-danger">Minimun value is 0.01</small>
            <small *ngIf="Percentage.errors?.max" class="text-danger">Maximun value is 99.90</small>
        </div>
    </div>
    <div class="form-check">
        <input type="checkbox" formControlName="Include_Tax" value="" class="form-check-input">
        <label class="form-check-label" for="Include_Tax">Base Price Include Taxes</label>
    </div>
    <div class="form-check" *ngIf="country=='DEU'">
        <input type="checkbox" formControlName="To_Go" value="" class="form-check-input">
        <label class="form-check-label" for="To_Go">To Go</label>
    </div>
    <div class="form-check" *ngIf="taxForm.value.TaxId !== '' && taxForm.value.TaxId !== null">
        <input type="checkbox" formControlName="Status" value="" class="form-check-input" name="Status">  
        <label class="form-check-label" for="Status">Status</label>
    </div>
    <button type="submit" id="save" class="btn btn-primary" [disabled]="!taxForm.valid">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
    </button>
    <input type="button" id="cancel" value="Cancel" class="btn btn-danger" (click)="onCancel()">
    {{ taxForm.value | json }}
</form>
