mat-label{
    color: blue;
}
.mat-card-header{
    font-weight: 600;
}
.card-title{
    font-size: 17px !important;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.list-width{
    max-width: 100%;
}
@media only screen and (max-width: 600px) {
    mat-card {
        min-width: 100%;
    }
    .card-columns {
        padding-left: 0px;
        padding-right: 0px;
    }
}