<div class="pl-0 pt-1 pb-2 col-md-12 mt-1 mb-1 header-route">
    <h4>Customers</h4>
</div>
<div class="overlay" *ngIf="loading">
    <mat-progress-spinner id="spinProd" class="form-spinner" mode="indeterminate"></mat-progress-spinner>
    <mat-label class="label-overlay">Processing Customer...</mat-label>
</div>
<mat-card class="col-md-12">
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <div class="form-field pl-3 pr-3">
            <mat-form-field hintLabel="Min 3 characters">
                <input matInput #Name placeholder="Name" maxlength="500" minlength="3" formControlName="Name"
                    [errorStateMatcher]="confirmValidParentMatcher" required>
                <mat-hint align="end">{{fCustomer.Name.value?.length || 0}}/500</mat-hint>
                <mat-error *ngIf="fCustomer.Name.invalid">{{getErrorMessage('Name')}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-field pl-3 pr-3">
            <mat-form-field hintLabel="Min 3 characters">
                <input matInput #Address placeholder="Address" maxlength="500" minlength="3" formControlName="Address"
                    [errorStateMatcher]="confirmValidParentMatcher" required>
                <mat-hint align="end">{{fCustomer.Address.value?.length || 0}}/500</mat-hint>
                <mat-error *ngIf="fCustomer.Name.invalid">{{getErrorMessage('Address')}}</mat-error>
            </mat-form-field>
        </div>
        <div class="row pl-3 pr-3">
            <div class="form-field pl-3 pr-3 col-md-2">
                <mat-form-field>
                    <input matInput #House_No placeholder="House No" maxlength="10" formControlName="House_No"
                        [errorStateMatcher]="confirmValidParentMatcher">
                    <mat-hint align="end">{{fCustomer.House_No.value?.length || 0}}/10</mat-hint>
                    <mat-error *ngIf="fCustomer.House_No.invalid">{{getErrorMessage('House_No')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-field pl-3 pr-3 col-md">
                <mat-form-field>
                    <input type="text" placeholder="Country" matInput formControlName="Country" [matAutocomplete]="auto"
                        [errorStateMatcher]="confirmValidParentMatcher">
                    <mat-error *ngIf="fCustomer.Country.invalid">{{getErrorMessage('Country')}}</mat-error>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" activeOption="activeOption">
                        <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                            {{country.n}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="form-field pl-3 pr-3 col-md-3">
                <mat-form-field>
                    <input matInput #State placeholder="State" minlength="2" maxlength="100" formControlName="State"
                        [errorStateMatcher]="confirmValidParentMatcher" required>
                    <mat-error *ngIf="fCustomer.State.invalid">{{getErrorMessage('State')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-field pl-3 pr-3 col-md-3">
                <mat-form-field>
                    <input matInput #Postal_Code placeholder="Postal Code" maxlength="30" formControlName="Postal_Code"
                        [errorStateMatcher]="confirmValidParentMatcher">
                    <mat-error *ngIf="fCustomer.Postal_Code.invalid">{{getErrorMessage('Postal_Code')}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row pl-3 pr-3">
            <div class="form-field pl-3 pr-3 col-md-6">
                <mat-form-field hintLabel="Min 2 characters">
                    <input matInput #Tax_Number placeholder="Tax Number" minlength="2" maxlength="50"
                        formControlName="Tax_Number" [errorStateMatcher]="confirmValidParentMatcher" required>
                    <mat-hint align="end">{{fCustomer.Tax_Number.value?.length || 0}}/50</mat-hint>
                    <mat-error *ngIf="fCustomer.Tax_Number.invalid">{{getErrorMessage('Tax_Number')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-field pl-3 pr-3 col-md">
                <mat-form-field>
                    <input matInput #Phone placeholder="Phone" maxlength="30" formControlName="Phone"
                        [errorStateMatcher]="confirmValidParentMatcher">
                    <mat-error *ngIf="fCustomer.Phone.invalid">{{getErrorMessage('Phone')}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="form-field pl-3 pr-3">
            <mat-form-field>
                <input matInput #Email placeholder="Email" maxlength="250" formControlName="Email"
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [errorStateMatcher]="confirmValidParentMatcher">
                <mat-error *ngIf="fCustomer.Email.invalid">{{getErrorMessage('Email')}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-field-check ml-3 pr-3">
            <mat-checkbox formControlName="Is_Exent">Is Exent</mat-checkbox>
        </div>
        <div class="form-field pl-3 pr-3" *ngIf="customerForm.value.Is_Exent">
            <mat-form-field hintLabel="Min 3 characters">
                <input matInput #Reason placeholder="Reason" maxlength="500" minlength="3" formControlName="Reason"
                    [errorStateMatcher]="confirmValidParentMatcher" required>
                <mat-hint align="end">{{fCustomer.Reason.value?.length || 0}}/500</mat-hint>
                <mat-error *ngIf="fCustomer.Reason.invalid">{{getErrorMessage('Reason')}}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-field-check ml-3 pr-3"
            *ngIf="customerForm.value.CustomerId !== '' && customerForm.value.CustomerId !== null">
            <mat-checkbox formControlName="Status">Status</mat-checkbox>
        </div>
        <button mat-flat-button color="primary" id="save" [disabled]="!customerForm.valid"
            class="ml-3 mr-3 mt-2">Save</button>
        <button mat-flat-button color="accent" id="cancel" (click)="onCancel()" class="mt-2">Cancel</button>
        <!-- {{ customerForm.value | json }} -->
    </form>
</mat-card>