.mat-column-td-Name {
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    // word-wrap: break-word;
    // word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-th {
    justify-content: center;
    font-weight: 600;
    padding-left: 0px !important;
}
.mat-column-td-Unit_Price {
    padding-right: 8px;
    text-align: right;
    justify-content: flex-end;
}
.mat-column-td-Qty {
    padding-right: 8px;
    text-align: right;
}
.mat-column-Actions {
    text-align: center;
}
.values-right-align {
    text-align: right;
}
input.values-right-align::-webkit-outer-spin-button,
input.values-right-align::-webkit-inner-spin-button {
    display: none;
}
input.values-right-align {
    -moz-appearance: textfield;
}
mat-card{
    margin-left:16px;
}
.form-field{
    padding-left: 16px;
    padding-right: 16px;
}
@media only screen and (max-width: 600px) {
    mat-card{
        margin-left: 0px;
    }
    .header-route{
        padding-left: 0px;
    }
    .form-field{
        padding-left: 0px;
        padding-right: 0px;
    }
}