<div class="container-fluid h-100">
    <div class="row">
        <div class="col-md-12">
            <ng-container *ngIf="access$ | async"></ng-container>
            <ng-container *ngIf="taxes$ | async"></ng-container>
            <ng-container *ngIf="(salesDocto$ | async) && savingSale"></ng-container>
            <!-- {{ salesForm.value | json }} -->
            <button *ngIf="salesForm.value.Status === 1" type="button" mat-flat-button id="online" (click)="changeStatus()"
                            class="online mt-2"><mat-icon class="mr-2 ml-0">check_circle_outline</mat-icon> Online</button>
            <button *ngIf="salesForm.value.Status === 3" type="button" mat-flat-button id="offline" (click)="changeStatus()"
                            class="offline mt-2"><mat-icon class="mr-2 ml-0">cancel</mat-icon> Offline</button>
            <form [formGroup]="salesForm" (ngSubmit)="onSubmit()">
                <ng-container *ngIf="setCashier$ | async"></ng-container>
                <app-product-list *ngIf="step == 1" view="salesView" (newStep)="setStep($event)"
                    (addItem)="productSelected($event)" (storeSelected)="setStore($event)" (doctoSelected)="setDocto($event)" (cashierSelected)="setCashier($event)" [cashier]="cashierId"></app-product-list>
                <div class="detail-form" *ngIf="step == 2">
                    <div class="row pl-3 pr-3 header-route">
                        <h4 class="col-md-12 pl-0 pt-2">Sales</h4>
                        <mat-divider class="col-md-12"></mat-divider>
                    </div>
                    <ng-container *ngIf="(isHandset$ | async); else isDesktop">
                        <mat-list *ngIf="onError==''" class="mt-4 mb-4">
                            <mat-list-item formArrayName="detail"
                                *ngFor="let item of fDetails.controls; let i = index;">
                                <ng-container [formGroupName]="i">
                                    <div class="pr-0 pl-0">
                                        <h3 matLine class="mb-1">{{item.value.Name}}</h3>
                                        <p matLine class="mb-1">Unit Price: {{item.value.Unit_Price | number: '.2' }}</p>
                                        <div matLine class="form-field">
                                            <mat-form-field hintLabel="Only decimal values">
                                                <input id="{{'detailQty'+i}}" matInput placeholder="Quantity" min="0.0001"
                                                    max="99999999.9990" type="number"
                                                    (keypress)="onKeyPress($event, $event.target.value)"
                                                    pattern="^[0-9]{0,8}\.?[0-9]{0,4}$"
                                                    [errorStateMatcher]="confirmValidParentMatcher" formControlName="Qty"
                                                    class="values-right-align" required>
                                                <mat-error *ngIf="item.get('Qty').invalid">
                                                    {{getErrorMessage('Quantity', i)}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <!-- <div matLine class="form-field">
                                            <mat-form-field hintLabel="Only decimal values">
                                                <input id="{{'detailDiscount'+i}}" matInput placeholder="Discount"
                                                    min="0.00" max="99999999.90" type="number"
                                                    (keypress)="onKeyPress($event, $event.target.value)"
                                                    pattern="^[0-9]{0,8}\.?[0-9]{0,4}$"
                                                    [errorStateMatcher]="confirmValidParentMatcher"
                                                    formControlName="Discount" class="values-right-align">
                                                <mat-error *ngIf="item.get('Discount').invalid">
                                                    {{getErrorMessage('Discount', i)}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div> -->
                                        <ng-container *ngIf="country==='DEU'">
                                            <div matLine class="form-field-check">
                                                <mat-checkbox (change)="setTax($event, i)" id="{{'detailToGo'+i}}"
                                                    formControlName="ToGo">To
                                                    Go</mat-checkbox>
                                            </div>
                                            <div matLine class="form-field">
                                                <mat-form-field color="warn">
                                                    <input matInput [matDatepicker]="picker" minDate="minDeliveryDate"
                                                        id="{{'deliveryDate'+i}}" formControlName="Delivery_Date"
                                                        placeholder="Delivery date">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </ng-container>
                                        <div matLine class="from-field" *ngIf="country!='DEU'">
                                            <mat-form-field>
                                                <mat-label>Tax Id:</mat-label>
                                                <mat-select id="{{'detailTaxId'+i}}" formControlName="Tax_Id"
                                                    (selectionChange)="changeTax($event, i)">
                                                    <mat-option *ngFor="let res of taxes$ | async" [value]="res.Tax_Id">
                                                        {{res.Name}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="item.get('Tax_Id').invalid">
                                                    {{getErrorMessage('Tax_Id', i)}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <small matLine class="text-muted">Total: {{item.value.Total | number: '.2'}}</small>
                                        <small matLine class="text-muted">Total Tax:
                                            {{item.value.Total_Tax | number: '.2'}}</small>
                                        <mat-action-list class="" matLine>
                                            <button mat-icon-button color="warn" (click)="removeItem(i)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </mat-action-list>
                                    </div>
                                </ng-container>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </mat-list>
                    </ng-container>
                    <ng-template #isDesktop>
                        <mat-table [dataSource]="fDetails.controls" formArrayName="detail" [trackBy]="trackRow" class="w-100 mt-4 mb-4 mat-elevation-z8">
                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="ToGo" *ngIf="country==='DEU'">
                                <mat-header-cell *matHeaderCellDef class="col-md-1 mat-column-th-ToGo">
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                class="check-th-table">
                                    </mat-checkbox>To Go
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element; let i = index" class="col-md-1 mat-column-td-ToGo" [formGroup]="element">
                                    <mat-checkbox class="check-table" (change)="setTax($event, i)" formControlName="ToGo">
                                    </mat-checkbox>
                                </mat-cell>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="Name">
                                <mat-header-cell *matHeaderCellDef class="col-md-7 mat-column-th-Name"> Name </mat-header-cell>
                                <mat-cell *matCellDef="let element;let i=index" class="col-md-7 mat-column-td-Name"> {{element.value.Name}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Unit_Price">
                                <mat-header-cell *matHeaderCellDef class="col-md-1 mat-column-th-Unit_Price"> Price </mat-header-cell>
                                <mat-cell *matCellDef="let element; let i = index" class="col-md-1 mat-column-td-Unit_Price" [formGroup]="element">
                                    <mat-form-field floatLabel="never" *ngIf="(element.value.Type === 'services'); else Services">
                                        <input matInput type="number" min="0.01"
                                        max="99999999.90" (keypress)="onKeyPress($event, $event.target.value)"
                                        pattern="^[0-9]{0,8}\.?[0-9]{0,4}$"
                                        [errorStateMatcher]="confirmValidParentMatcher" formControlName="Unit_Price"
                                        class="values-right-align" required>
                                    </mat-form-field>
                                    <ng-template #Services>
                                        <span>{{element.value.Unit_Price | number: '.2' }}</span>
                                    </ng-template>
                                </mat-cell>
                            </ng-container>
                            <ng-template #Services>
                                <ng-container matColumnDef="Unit_Price">
                                    <mat-header-cell *matHeaderCellDef class="col-md-1 mat-column-th-Unit_Price"> Price </mat-header-cell>
                                    <mat-cell *matCellDef="let element; let i = index" class="col-md-1 mat-column-td-Unit_Price" [formGroup]="element">
                                        <mat-form-field floatLabel="never">
                                            <input matInput type="number" min="0.01"
                                            max="99999999.90" (keypress)="onKeyPress($event, $event.target.value)"
                                            pattern="^[0-9]{0,8}\.?[0-9]{0,4}$"
                                            [errorStateMatcher]="confirmValidParentMatcher" formControlName="Unit_Price"
                                            class="values-right-align" required>
                                        </mat-form-field>
                                    </mat-cell>
                                </ng-container>
                            </ng-template>
                            <!-- Position Column  -->
                            <ng-container matColumnDef="Qty">
                                <mat-header-cell *matHeaderCellDef class="col-md-1 mat-column-th-Qty"> Qty </mat-header-cell>
                                <mat-cell *matCellDef="let element; let i = index" class="col-md-1 mat-column-td-Qty" [formGroup]="element">
                                    <mat-form-field floatLabel="never">
                                        <input matInput type="number" min="0.0001"
                                        max="99999999.9990" (keypress)="onKeyPress($event, $event.target.value)"
                                        pattern="^[0-9]{0,8}\.?[0-9]{0,4}$"
                                        [errorStateMatcher]="confirmValidParentMatcher" formControlName="Qty"
                                        class="values-right-align" required>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <!-- Position Column -->
                            <!-- <ng-container matColumnDef="Discount">
                                <mat-header-cell *matHeaderCellDef class="col-md-1 mat-column-th-Discount"> Discount </mat-header-cell>
                                <mat-cell *matCellDef="let element; let i = index" class="col-md-1 mat-column-td-Discount" [formGroup]="element">
                                    <mat-form-field floatLabel="never">
                                        <input matInput type="number" min="0.0001"
                                        max="99999999.9990" (keypress)="onKeyPress($event, $event.target.value)"
                                        pattern="^[0-9]{0,8}\.?[0-9]{0,4}$"
                                        [errorStateMatcher]="confirmValidParentMatcher" formControlName="Discount" 
                                        class="values-right-align" required>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container> -->

                            <!-- Position Column -->
                            <ng-container matColumnDef="Delivery_Date">
                                <mat-header-cell *matHeaderCellDef class="col-md-1 mat-column-th-Delivery"> Delivery Date </mat-header-cell>
                                <mat-cell *matCellDef="let element; let i = index" class="col-md-1 mat-column-td-Delivery" [formGroup]="element">
                                    <mat-form-field floatLabel="never">
                                        <input matInput [matDatepicker]="picker" minDate="minDeliveryDate"
                                            formControlName="Delivery_Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker disabled="false"></mat-datepicker>
                                    </mat-form-field>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Tax_Id" *ngIf="country!='DEU'">
                                <mat-header-cell *matHeaderCellDef class="col-md-1 mat-column-th-Tax"> Tax Id </mat-header-cell>
                                <mat-cell *matCellDef="let element; let i = index" class="col-md-1 mat-column-td-Tax" [formGroup]="element">
                                <mat-select formControlName="Tax_Id"
                                    (selectionChange)="changeTax($event, i)">
                                    <mat-option *ngFor="let res of taxes$ | async" [value]="res.Tax_Id">
                                        {{res.Name}}
                                    </mat-option>
                                </mat-select>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Actions">
                                <mat-header-cell *matHeaderCellDef class="col-md-1"> Actions </mat-header-cell>
                                <mat-cell *matCellDef="let element; let i = index" class="col-md-1 mat-column-Actions">
                                    <button mat-icon-button color="warn" (click)="removeItem(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns; let i=index" (click)="selection.toggle(row)"></mat-row>
                        </mat-table>
                    </ng-template>
                    <div class="invoice-total">
                        <div class="invoice-total-data">
                            <p class="invoice-totals">Total Tax</p>
                            <p class="invoice-totals">Discount</p>
                            <h5 >Total</h5>
                        </div>
                        <div class="">
                            <p class="invoice-totals-result">{{ currency+' '+(salesForm.value.Total_Taxes | number: '.2')}}</p>
                            <p class="invoice-totals-result">{{ currency+' '+(salesForm.value.Total_Discount | number: '.2')}}</p>
                            <h5 class="total-result">{{ currency+' '+(salesForm.value.Total | number: '.2')}}</h5>
                        </div>
                    </div>
                    <button type="button" mat-flat-button color="accent" (click)="step=1"
                        class="mr-3 mt-2">Back</button>
                    <button type="button" mat-flat-button color="primary" (click)="step=3"
                        class="mr-3 mt-2" [disabled]="!salesForm.get('detail').valid">Next</button>
                </div>
                <div *ngIf="step == 3">
                    <div class="row pl-3 pr-3 header-route">
                        <h4 class="col-md-12 pl-0 pt-2">Billing Information</h4>
                        <mat-divider class="col-md-12"></mat-divider>
                    </div>
                    <div class="invoice-form col-md-6">
                        <div class="">
                            <div class="form-field-check mt-4">
                                <mat-checkbox formControlName="Guest" (change)="continueGuest()">Continue as Guest</mat-checkbox>
                            </div>
                        </div>
                        <div class="mt-3" *ngIf="!salesForm.value.Guest">
                            <div class="form-field">
                                <mat-form-field>
                                    <input type="text" placeholder="Name" maxlength="500" minlength="3" formControlName="Name" matInput
                                        [matAutocomplete]="auto" [errorStateMatcher]="confirmValidParentMatcher" required>
                                    <mat-error *ngIf="fCustomer.Name.invalid">{{getErrorMessageCustomer('Name')}}</mat-error>
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" activeOption="activeOption"
                                        (optionSelected)='getCustomerSelected($event.option.value)'
                                        (focusout)="getCustomerSelected($event)">
                                        <mat-option *ngIf="isLoading" class="is-loading">
                                            <mat-spinner diameter="50"></mat-spinner>
                                        </mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let customer of filteredCustomers" [value]="customer">
                                                <div class="autocomplete-list">
                                                    <span class="autocomplete-item">{{customer.Name | titlecase}}
                                                        {{customer.Tax_Number}}</span>
                                                </div>
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="form-field">
                                <mat-form-field hintLabel="Min 3 characters">
                                    <input matInput placeholder="Address" maxlength="500" minlength="3" formControlName="Address"
                                        [errorStateMatcher]="confirmValidParentMatcher" required>
                                    <mat-hint align="end">{{fCustomer.Address.value?.length || 0}}/500</mat-hint>
                                    <mat-error *ngIf="fCustomer.Address.invalid && fCustomer.Address.touched">{{getErrorMessageCustomer('Address')}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-field">
                                <mat-form-field>
                                    <input matInput placeholder="State" minlength="2" maxlength="100" formControlName="State"
                                        [errorStateMatcher]="confirmValidParentMatcher" required>
                                    <mat-error *ngIf="fCustomer.State.invalid && fCustomer.State.touched">{{getErrorMessageCustomer('State')}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-field">
                                <mat-form-field>
                                    <input matInput placeholder="Email" minlength="6" maxlength="200" formControlName="Email"
                                        [errorStateMatcher]="confirmValidParentMatcher" required>
                                    <mat-error *ngIf="fCustomer.Email.invalid && fCustomer.Email.touched">{{getErrorMessageCustomer('Email')}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-field">
                                <mat-form-field hintLabel="Min 2 characters">
                                    <input matInput placeholder="Tax Number" minlength="2" maxlength="50"
                                        formControlName="Tax_Number" [errorStateMatcher]="confirmValidParentMatcher" required>
                                    <mat-hint align="end">{{fCustomer.Tax_Number.value?.length || 0}}/50</mat-hint>
                                    <mat-error *ngIf="fCustomer.Tax_Number.invalid && fCustomer.Tax_Number.touched">
                                        {{getErrorMessageCustomer('Tax_Number')}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-field-check">
                                <mat-checkbox formControlName="Is_Exent">Is Exent</mat-checkbox>
                            </div>
                            <div class="form-field" *ngIf="fCustomer.Is_Exent.value">
                                <mat-form-field hintLabel="Min 3 characters">
                                    <input matInput placeholder="Reason" maxlength="500" minlength="3" formControlName="Reason"
                                        [errorStateMatcher]="confirmValidParentMatcher" required>
                                    <mat-hint align="end">{{fCustomer.Reason.value?.length || 0}}/500</mat-hint>
                                    <mat-error *ngIf="fCustomer.Reason.invalid && fCustomer.Reason.touched">{{getErrorMessageCustomer('Reason')}}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="payment-form mt-4 mb-3 col-md-6">
                        <div class="payment-type">
                            <mat-radio-group class="col-md-12 pl-0">
                                <mat-radio-button class="col-md-3 pl-0" value="cash" (click)="paymentMethod('cash')">Cash</mat-radio-button>
                                <mat-radio-button class="col-md-3 pl-0" value="creditcard" (click)="paymentMethod('creditcard')">Credit Card</mat-radio-button>
                                <mat-radio-button class="col-md-3 pl-0" value="credit" (click)="paymentMethod('credit')">Credit</mat-radio-button>
                            </mat-radio-group>
                            <div class="" *ngIf="paymentOpt === 'cash'">
                                <div class="form-field col-md-4 pl-0 mt-2">
                                    <mat-form-field>
                                        <input matInput placeholder="Total Payed" (keypress)="onKeyPress($event, $event.target.value)" formControlName="Cash_Value">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="" *ngIf="paymentOpt === 'creditcard'">
                                <div class="form-field col-md-4 pl-0 mt-2 mb-0">
                                    <mat-form-field>
                                        <input matInput placeholder="Last Four Number" (keypress)="onKeyPress($event, $event.target.value)" maxlength="4" formControlName="Credit_Digits">
                                    </mat-form-field>
                                </div>
                                <div class="form-field col-md-4 pl-0">
                                    <mat-form-field>
                                        <input matInput placeholder="Auth Number" (keypress)="onKeyPress($event, $event.target.value)" maxlength="15" formControlName="Credit_Auth">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-divider class="col-md-6"></mat-divider>
                    <div class="invoice-total col-md-6 mt-3">
                        <div class="invoice-total-data">
                            <p class="invoice-totals">Total Tax</p>
                            <p class="invoice-totals">Discount</p>
                            <h5 >Total</h5>
                            <div class="" *ngIf="paymentOpt === 'cash'">
                                <p class="invoice-totals">Cash</p>
                                <p class="invoice-totals">Change</p>
                            </div>
                        </div>
                        <div class="">
                            <p class="invoice-totals-result">{{ currency+' '+(salesForm.value.Total_Taxes | number: '.2')}}</p>
                            <p class="invoice-totals-result">{{ currency+' '+(salesForm.value.Total_Discount | number: '.2')}}</p>
                            <h5 class="total-result">{{ currency+' '+(salesForm.value.Total | number: '.2')}}</h5>
                            <div class="" *ngIf="paymentOpt === 'cash'">
                                <p class="invoice-totals-result">{{ currency+' '+(salesForm.value.Cash_Value | number: '.2') }}</p>
                                <p class="invoice-totals-result">{{ currency+' '+((+salesForm.value.Cash_Value-salesForm.value.Total) | number: '.2') }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-buttons">
                        <button type="button" mat-flat-button color="accent" (click)="step=2"
                            class="mr-3 mt-2">Back</button>
                        <button type="submit" mat-flat-button color="primary" id="save" [disabled]="!salesForm.valid"
                            class="mr-3 mt-2">Save</button>
                        <button type="button" mat-flat-button color="warn" id="cancel" (click)="onCancel()" 
                            class="mt-2">Cancel</button>
                    </div>
                    <div class="print-area">
                        <ng-container *ngFor="let info of storeInfo$ | async">
                            <div class="col-md-4 mt-2 mb-3">
                                <div class="row">
                                    <small class="col-md-12 print-title-company">{{info.Name}}</small>
                                    <small class="col-md-12 print-company">{{info.Address + ' ' + info.Postal_Code}}</small>
                                    <small class="col-md-12 print-company">{{info.Tax_Number}}</small>
                                    <small class="col-md-12 print-company">{{invoiceNumber}}</small>
                                </div>
                            </div>
                            <div class="col-md-4 mt-2 mb-3">
                                <div class="row">
                                    <small class="col-md-12 print-company" *ngIf="salesForm.value.Name != undefined">{{ (salesForm.value.Name.Name != undefined ? salesForm.value.Name.Name : salesForm.value.Name) }}</small>
                                    <small class="col-md-12 print-company">{{ salesForm.value.Address }}</small>
                                    <small class="col-md-12 print-company">{{ salesForm.value.Tax_Number }}</small>
                                </div>
                            </div>
                            <div class="col-md-4" formArrayName="detail"
                                *ngFor="let item of fDetails.controls; let i = index;">
                                <ng-container [formGroupName]="i">
                                    <div class="pr-0 pl-0 row">
                                        <small class="col-md-12" *ngIf="item.value.Qty > 1">{{ (item.value.Qty | number: '.4') + ' x ' + (item.value.Unit_Price | number: '.2') }}</small>
                                    </div>
                                    <div class="pr-0 pl-0 row">
                                        <small class="col-md-8 mb-1 item-descrip">{{ item.value.Name }}</small>
                                        <small class="pr-0 pl-0 col-md-2 item-price">{{ item.value.Total | number: '.2'}}</small>
                                        <small *ngIf="country === 'DEU'" class="col-md-1">{{ item.value.Percentage | number: '.0' }}</small>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="col-md-4 mt-2">
                                <div class="pr-0 pl-0 row">
                                    <small class="col-md-8 mb-1 item-descrip">{{ 'Total Taxes ' }}</small>
                                    <small class="pr-0 pl-0 col-md-3 item-price">{{ currency+' '+(salesForm.value.Total_Taxes | number: '.2') }}</small>
                                </div>
                                <div class="pr-0 pl-0 row">
                                    <small class="col-md-8 mb-1 item-descrip">{{ 'Total Discount ' }}</small>
                                    <small class="pr-0 pl-0 col-md-3 item-price">{{ currency+' '+(salesForm.value.Total_Discount | number: '.2') }}</small>
                                </div>
                                <div class="pr-0 pl-0 row">
                                    <small class="col-md-8 mb-1 item-total-print">{{ 'Total  ' }}</small>
                                    <small class="pr-0 pl-0 col-md-3 item-price-print">{{ currency+' '+(salesForm.value.Total | number: '.2') }}</small>
                                </div>
                                <div class="" *ngIf="paymentOpt === 'cash'">
                                    <div class="pr-0 pl-0 row">
                                        <small class="col-md-8 mb-1 item-descrip">{{ 'Cash ' }}</small>
                                        <small class="pr-0 pl-0 col-md-3 item-price">{{ currency+' '+(salesForm.value.Cash_Value | number: '.2') }}</small>
                                    </div>
                                    <div class="pr-0 pl-0 row">
                                        <small class="col-md-8 mb-1 item-descrip">{{ 'Change ' }}</small>
                                        <small class="pr-0 pl-0 col-md-3 item-price">{{ currency+' '+((+salesForm.value.Cash_Value-salesForm.value.Total) | number: '.2') }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-4">
                                <div class="row">
                                    <small class="col-md-6">{{ 'Cashier : ' + info.Description }}</small>
                                    <small class="col-md-6 footer-invoice">{{ 'User : ' + userName }}</small>
                                </div>
                                <div class="row">
                                    <small class="col-md-6">{{ 'Date : ' + (salesForm.value.Invoice_Date | date) }}</small>
                                    <small class="col-md-6 footer-invoice">{{ 'Hora : ' + (salesForm.value.Invoice_Date | date:'shortTime') }}</small>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>