<div class="container-fluid h-100">
    <div class="row pl-2 pr-1">
        <div class="overlay" *ngIf="loading">
            <mat-progress-spinner id="spinCustomers" class="form-spinner" mode="indeterminate">
            </mat-progress-spinner>
            <mat-label class="label-overlay">Processing Customers...</mat-label>
        </div>
        <app-customer [customer]="clickedCustomer" class="col-md-12"></app-customer>
        <div class="col-md-12">
            <app-customer-list (childEvent)="childCustomerClicked($event)" (modLoading)="displayLoading($event)">
            </app-customer-list>
        </div>
    </div>
</div>